# IDE File
.vscode/
*.pyc

# Mac File
*.DS_Store

# ROS File catkin_make_isolated
build_isolated/
devel_isolated/

# ROS caktin build 
build/
devel/
logs/
.catkin_tools/

# Ignore all content in the traj directory
src/ros_plan/moveit_interface_plan/traj/*

# Except for the base.json file
!src/ros_plan/moveit_interface_plan/traj/base.json
