<?xml version='1.0' encoding='UTF-8'?>
<robot name="left_arm">
  <!-- left arm -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00399570091504528 2.98471488309193E-05 -0.0656133809823523" rpy="0 0 0"/>
      <mass value="0.413"/>
      <inertia ixx="7.01872239868571E-05" ixy="-1.62696734264376E-07" ixz="-4.54392258182991E-07" iyy="7.29165229929418E-05" iyz="-7.2325873682261E-09" izz="6.87979464480365E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_forearm_yaw.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="l_hand_roll">
    <inertial>
      <origin xyz="0.0166010838376317 1.21699082866744E-07 1.73724289204147E-07" rpy="0 0 0"/>
      <mass value="0.0071"/>
      <inertia ixx="1.93486939049626E-07" ixy="1.34751407910019E-12" ixz="-9.12379114183907E-13" iyy="1.3659940311531E-07" iyz="2.34311788925342E-12" izz="3.17250990444323E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_hand_roll.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="l_hand_roll" type="continuous">
    <origin xyz="-0.025322 0 -0.1575" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="l_hand_roll"/>
    <axis xyz="1 0 0"/>
  </joint>

  <link name="l_hand_pitch">
    <inertial>
      <origin xyz="0.00216452934621551 -6.77719551251399E-05 -0.0859772405742664" rpy="0 0 0"/>
      <mass value="0.6789"/>
      <inertia ixx="1.140633456061E-05" ixy="-1.76559662166693E-10" ixz="2.91544414425806E-07" iyy="1.10990606835989E-05" iyz="-7.83300192322812E-10" izz="8.19218367742265E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_hand_pitch.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="l_hand_pitch" type="continuous">
    <origin xyz="0.02137 0 0" rpy="0 0 0"/>
    <parent link="l_hand_roll"/>
    <child link="l_hand_pitch"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="l_l_arm_bar">
    <inertial>
      <origin xyz="-0.00554151988939612 -0.00107110718268377 8.01142280862713E-05" rpy="0 0 0"/>
      <mass value="0.000933425350872019"/>
      <inertia ixx="1.3843779735052E-08" ixy="5.67273670990801E-09" ixz="5.77608583056801E-10" iyy="6.06871251723769E-08" iyz="-8.20112615845596E-11" izz="5.37887818257275E-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_l_arm_bar.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="l_l_arm_bar" type="continuous">
    <origin xyz="0.011299999998424 0.024140000000002 -0.0759999999999971" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="l_l_arm_bar"/>
    <axis xyz="0 1 0"/>
  </joint>
  <transmission type="SimpleTransmission">
    <joint name="l_l_arm_bar"/>
    <actuator name="l_l_arm_bar_motor"/>
    <drake:gear_ratio value="10.0" />
    <drake:rotor_inertia value="0.0001002" />
  </transmission>
  <frame link="l_l_arm_bar" name="l_l_arm_bar_frame" xyz="0 0.0040000013363603 0" />
  <link name="l_l_arm_tendon">
    <inertial>
      <origin xyz="-0.00762563841089457 -0.000122279190808594 -0.0407419941889383" rpy="0 0 0"/>
      <mass value="0.00374681809424582"/>
      <inertia ixx="2.52757930323661E-06" ixy="-7.66111459785821E-10" ixz="-4.64401918338811E-07" iyy="2.64303514729516E-06" iyz="-4.31242332569496E-09" izz="1.3308429935593E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_l_arm_tendon.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <drake:joint name="l_l_arm_tendon" type="universal">
    <origin xyz="-0.0159983282022835 0.0040000013363603 0.000231289282113974" rpy="0 0 0" />
    <parent link="l_l_arm_bar" />
    <child link="l_l_arm_tendon" />
  </drake:joint>

  <link name="l_r_arm_bar">
    <inertial>
      <origin xyz="-0.00554152091378026 0.00107110716137979 8.00466218583845E-05" rpy="0 0 0"/>
      <mass value="0.00093342533722621"/>
      <inertia ixx="1.38437655830521E-08" ixy="-5.67273763127159E-09" ixz="5.77122731416829E-10" iyy="6.06871249427678E-08" iyz="8.19421766658822E-11" izz="5.37887956605657E-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_r_arm_bar.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="l_r_arm_bar" type="continuous">
    <origin xyz="0.011300000004892 -0.024139999999997 -0.1145" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="l_r_arm_bar"/>
    <axis xyz="0 1 0"/>
  </joint>
  <transmission type="SimpleTransmission">
    <joint name="l_r_arm_bar"/>
    <actuator name="l_r_arm_bar_motor"/>
  </transmission>
  <frame link="l_r_arm_bar" name="l_r_arm_bar_frame" xyz="0 -0.00400002806712421 0" />
  <link name="l_r_arm_tendon">
    <inertial>
      <origin xyz="-0.00762833305911307 0.000142795973133963 -0.021488685180072" rpy="0 0 0"/>
      <mass value="0.00269247094438198"/>
      <inertia ixx="5.94953509692986E-07" ixy="9.09691856035781E-10" ixz="-1.9636524665428E-07" iyy="6.93164854255937E-07" iyz="1.78985741267607E-09" izz="1.11074492400416E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/l_r_arm_tendon.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <drake:joint name="l_r_arm_tendon" type="universal">
    <origin xyz="-0.0159983310229197 -0.00400002806712421 0.000231094095741222" rpy="0 0 0" />
    <parent link="l_r_arm_bar" />
    <child link="l_r_arm_tendon" />
  </drake:joint>

  <!-- ============================================================================================================== -->
  <!-- constraint -->
  <!-- arm -->
  <!-- left arm left link(long) -->
  <frame link="l_hand_pitch" name="l_l_hand_socket" xyz="-0.016 0.028 0.00024" />
  <frame link="l_l_arm_tendon" name="l_l_arm_tendon_socket" xyz="-0.01525 0.00014 -0.0815" />
  <!-- left arm right link(short) -->
  <frame link="l_hand_pitch" name="l_r_hand_socket" xyz="-0.016 -0.028 0.00024" />
  <frame link="l_r_arm_tendon" name="l_r_arm_tendon_socket" xyz="-0.01525 0.00014 -0.04299" />

</robot>