<?xml version='1.0' encoding='UTF-8'?>
<robot name="right_arm">
  <!-- right arm -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00399571587295026 -2.98574044384492E-05 -0.0656134416270269" rpy="0 0 0"/>
      <mass value="0.413"/>
      <inertia ixx="7.01871005830262E-05" ixy="1.62591814390724E-07" ixz="-4.54374332575993E-07" iyy="7.29165016216887E-05" iyz="7.3578843890099E-09" izz="6.87978478315219E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_forearm_yaw.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <link name="r_hand_roll">
    <inertial>
      <origin xyz="0.0166010838484253 -1.21914575379467E-07 -1.70258151493963E-07" rpy="0 0 0"/>
      <mass value="0.0071"/>
      <inertia ixx="1.93486938959377E-07" ixy="-1.35418412773771E-12" ixz="9.16670576988079E-13" iyy="1.36599402900294E-07" iyz="2.34295717847431E-12" izz="3.17250989285096E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_hand_roll.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="r_hand_roll" type="continuous">
    <origin xyz="-0.025322 0 -0.1575" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="r_hand_roll"/>
    <axis xyz="1 0 0"/>
  </joint>

  <link name="r_hand_pitch">
    <inertial>
      <origin xyz="0.00214702310217297 -7.83584216464961E-05 -0.0852818706514631" rpy="0 0 0"/>
      <mass value="0.6789"/>
      <inertia ixx="1.14121247582596E-05" ixy="1.76471512895622E-10" ixz="2.91544422581543E-07" iyy="1.11095803968485E-05" iyz="7.83308829804773E-10" izz="8.19797394000677E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_hand_pitch.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="r_hand_pitch" type="continuous">
    <origin xyz="0.02137 0 0" rpy="0 0 0"/>
    <parent link="r_hand_roll"/>
    <child link="r_hand_pitch"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="r_r_arm_bar">
    <inertial>
      <origin xyz="-0.00554151967108991 0.00107110730201643 8.01148413552277E-05" rpy="0 0 0"/>
      <mass value="0.000933425431007405"/>
      <inertia ixx="1.38437799892514E-08" ixy="-5.67273704047732E-09" ixz="5.77606254446982E-10" iyy="6.06871256289307E-08" iyz="8.20102664432749E-11" izz="5.37887825241999E-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_r_arm_bar.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="r_r_arm_bar" type="continuous">
    <origin xyz="0.0112999999984239 -0.024140000000002 -0.0759999999999971" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="r_r_arm_bar"/>
    <axis xyz="0 1 0"/>
  </joint>
  <transmission type="SimpleTransmission">
    <joint name="r_r_arm_bar"/>
    <actuator name="r_r_arm_bar_motor"/>
  </transmission>
  <frame link="r_r_arm_bar" name="r_r_arm_bar_frame" xyz="0 -0.0040000013363603 0" />
  <!-- add frame -->
  <link name="r_r_arm_tendon">
    <inertial>
      <origin xyz="-0.00765635531259815 0.000132036112088063 -0.0409092469907192" rpy="0 0 0"/>
      <mass value="0.00373178797597326"/>
      <inertia ixx="2.52754726727089E-06" ixy="7.66038091816824E-10" ixz="-4.64401938883845E-07" iyy="2.64294079486177E-06" iyz="4.31244533041838E-09" izz="1.33020958334864E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_r_arm_tendon.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <drake:joint name="r_r_arm_tendon" type="universal">
    <origin xyz="-0.0159983282022835 -0.0040000013363603 0.000231289282113974" rpy="0 0 0"/>
    <parent link="r_r_arm_bar"/>
    <child link="r_r_arm_tendon"/>
  </drake:joint>

  <link name="r_l_arm_bar">
    <inertial>
      <origin xyz="-0.00554152066507212 -0.00107110729779245 8.00460209587489E-05" rpy="0 0 0"/>
      <mass value="0.000933425428650283"/>
      <inertia ixx="1.38437660740365E-08" ixy="5.67273800803533E-09" ixz="5.77125012060783E-10" iyy="6.06871256776918E-08" iyz="-8.19431480269537E-11" izz="5.37887964707832E-08"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_l_arm_bar.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="r_l_arm_bar" type="continuous">
    <origin xyz="0.0113000000048921 0.024139999999997 -0.1145" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="r_l_arm_bar"/>
    <axis xyz="0 1 0"/>
  </joint>
  <transmission type="SimpleTransmission">
    <joint name="r_l_arm_bar"/>
    <actuator name="r_l_arm_bar_motor"/>
  </transmission>
  <frame link="r_l_arm_bar" name="r_l_arm_bar_frame" xyz="0 0.0040000013363603 0" />
  <link name="r_l_arm_tendon">
    <inertial>
      <origin xyz="-0.00762999220333973 -0.000169588775282475 -0.0214971867253593" rpy="0 0 0"/>
      <mass value="0.0026624084343365"/>
      <inertia ixx="5.94886471341227E-07" ixy="-9.09725188142654E-10" ixz="-1.96376428049484E-07" iyy="6.92975761839731E-07" iyz="-1.78984774648677E-09" izz="1.1095058280343E-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/r_l_arm_tendon.obj"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <drake:joint name="r_l_arm_tendon" type="universal">
    <origin xyz="-0.0159983310229197 0.00400002806712421 0.000231094095741222" rpy="0 0 0"/>
    <parent link="r_l_arm_bar"/>
    <child link="r_l_arm_tendon"/>
  </drake:joint>

  <!-- </transmission> -->
  <!-- ============================================================================================================== -->
  <!-- constraint -->

  <!-- right arm left link(short) -->
  <frame link="r_hand_pitch" name="r_l_hand_socket" xyz="-0.016 0.028 0.00024" />
  <frame link="r_l_arm_tendon" name="r_l_arm_tendon_socket" xyz="-0.01525 0.00014 -0.04299" />
  <!-- right arm right link(long) -->
  <frame link="r_hand_pitch" name="r_r_hand_socket" xyz="-0.016 -0.028 0.00024" />
  <frame link="r_r_arm_tendon" name="r_r_arm_tendon_socket" xyz="-0.01525 0.00014 -0.0815" />

</robot>